<label>Server Name</label>
<!--<input type="text"
      class="form-control"
      (input)="onUpdateServerName($event)"/>
  -->

<input type="text"
       class="form-control"
       [(ngModel)]="serverName" />

<p> {{serverName}} </p>

<!--In two way binding we are combine the event and property bidning syntasx is [()] -->
<!--$event its kind of reserve varibale name , you can use in tampelate when using event binding-->

<button class=" btn-btn-primary"
        [disabled]="!allowNewServer" (click)="onCreateServer()">
  Add Server
</button> --> Property []and Event Binding () concept



<!--Even Bininding Syntax is (click) -->
<!--<p [innerText]="allowNewServer"> </p> //  -> Dont mixed here String interpolation and property binding.-->
<!--<p>{{ serverCreationStatus }}</p>-->

<p *ngIf="serverCreated; else noServer"> Server was Created and Server name is {{serverName}} </p>--> Directive and his conditinal concept

<ng-template #noServer> No Server was Created </ng-template>


<app-server *ngFor="let fruit of fruits"></app-server>// ngFor cocept


<p *ngIf="fruit=='apple'; else otherfruit"> Apple </p>

<ng-template #otherfruit> Other Fruit</ng-template>
